<div class="container task-form-wrapper">
  <form [formGroup]="taskForm" (ngSubmit)="saveTask()" class="task-form">
    <div class="header">
      <h2>Add New Task</h2>
      <button mat-icon-button type="button" (click)="closeModal()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="row form-group">
      <mat-form-field appearance="outline">
        <mat-label>Task Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')"
          >Title is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="row form-group">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Staff</mat-label>
          <input matInput formControlName="person" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredStaff$ | async"
              [value]="`${option.id}_${option.name}`"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="taskForm.get('person')?.hasError('required')"
            >Staff is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="taskForm.get('startDate')?.hasError('required')"
            >Date is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Priority</mat-label>
          <mat-select formControlName="priority">
            <mat-option
              *ngFor="let priority of priorities"
              [value]="priority"
              >{{ priority }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="taskForm.get('priority')?.hasError('required')"
            >Priority is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Labels</mat-label>
          <mat-select formControlName="labels" multiple>
            <mat-option *ngFor="let label of labels" [value]="label">{{
              label
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="taskForm.get('label')?.hasError('required')"
            >At least one label is required</mat-error
          >
        </mat-form-field>
      </div>
    </div>

    <div class="row form-group">
      <mat-form-field appearance="outline" class="description-field">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-flat-button type="submit">Save</button>
    </div>
  </form>
</div>
